.maincontainer{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.usercolumn {
    flex-grow: 2;
    
}
.chatcolumn {
    flex-grow: 4;
    background-color: #e5ddd5;
}

.userinfo{
    background-color: #e6e6e6;
    padding: 1em;
    justify-content: space-between;
    align-content: center;
    display: flex;
}

.searchbar{
    background-color: #f0f0f0;
    padding: 1em;
}

.chats{
    padding: 1em;

}

.profImage{
    border-radius: 50%;
}

.addRoomButton {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-width: 0;
    background-color: #b3b3b3;
    cursor: pointer;
    color: white;
    box-shadow: 2px 3px 5px 0.5px dimgrey;
}